.contest-preview {
  border: 1px solid #000000;
  margin: 1em;
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace; }
  .contest-preview .category-name {
    border-bottom: 1px solid #000000;
    padding-left: 1px;
    background-color: lightskyblue;
    font-size: 10pt;
    font-weight: bold; }
  .contest-preview .contest-name {
    padding-left: 1px;
    font-size: 10pt; }

.contest-list {
  cursor: pointer; }

.contest .home-link {
  color: #0000EE; }
